.comment {
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: flex-start;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; /* Adjust margin as needed */
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.username,
.text {
    margin: 0; /* Reset default margin */
}

.add-comment-button {
    margin-left: 10px; /* Adjust spacing as needed */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-comment-button:focus {
    outline: none; /* Remove default focus outline */
}

.comment-container {
    margin-left: 20px; /* Indent comments */
}

.reply-container {
    margin-left: 40px; /* Indent replies */
}



/* Hide scrollbar arrows and borders */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  /* Remove scrollbar arrows */
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 4px; /* Round corners of the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent; /* Transparent background for track */
  }
  
  /* Hover styles for thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Color of the thumb when hovered */
  }
  
  