.comment {
    align-items: center;
}

.profile-info {
    display: flex;
    align-items: flex-start;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; /* Adjust margin as needed */
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.username,
.text {
    margin: 0; /* Reset default margin */
}

.add-comment-button {
    margin-left: 10px; /* Adjust spacing as needed */
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-comment-button:focus {
    outline: none; /* Remove default focus outline */
}

.comment-container {
    margin-left: 20px; /* Indent comments */
}

.reply-container {
    margin-left: 40px; /* Indent replies */
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

.popup button {
    margin: 5px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}